{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 80,
  "proseWrap": "always",
  "bracketSpacing": true,
  "editor.formatOnSave": true,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true
}